/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Lora', serif;*/
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Source Serif Pro', serif;*/
/*font-family: 'EB Garamond', serif;*/
.holddata {
  width: 900px;
  height: 450px;
  border-width: thin;
  border-color: black;
  border-style: solid;
margin-top: 75px;

  margin-right: auto;
margin-left: auto;
  background-color: ghostwhite;
}
#heading1{
  color: black;
}
#heading2{
  color: orange;
}
.headings{
  display: flex;
  margin-left: 500px;
  margin-right: auto;
}
.holddata img{
  margin-left: 300px;
  top:0px;
  right: 0px;
}
/*form{*/
/*  display: inline-block;*/
/*}*/
.search{

  margin-left: 250px;
  margin-top: 55px;
  text-align: center;
  overflow: hidden;
  float: left;
width: 350px;

}
.search input{
  width: 250px;
}
.search button{
  width: 75px;
}
.form-multiline .form-group {
  margin-bottom: 15px;
  margin-right: 30px;
}
.form-multiline label,
.form-multiline .form-control {
  margin-right: 15px;
}
.search h3{
  margin-left: 0px;
  margin-right: auto;


  margin-top: 55px;
  font-size: 120%;
  text-align: center;
  font-family: 'Source Serif Pro', serif;

}
.searching{
  font-family: 'Source Serif Pro', serif;
  text-align: center;



  float: left;
  margin-right: 0px;
  margin-bottom: 75px;
}

#searchbar{

  border-top-style: hidden;
  border-top-width: thin;

  border-left-style: hidden;
  border-left-width: medium;

  border-right-style: hidden;
  border-right-width: medium;
text-align: center;
  outline: none;
  outline-color:black;

}
#searchbar:focus {
  box-shadow: 0 0 0 0;
  outline-width: 0;
  outline: none;
  outline-color:black;
  border-top-width: thin;
  text-align: center;

}
#searchbar:hover{
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: thin;
  text-align: center;
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
}

*:focus {
  outline: none;
  outline-color:black;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  text-align: center;
  outline: none;
  outline-color:black;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
#searchbutton{
  width: 60px;
  font-size: 100%;
  text-align: center;
  border-color: ghostwhite;

  justify-content: center;
  margin-right: 15px;
  vertical-align: center;
  display:inline-block;
 background-color: ghostwhite;

}
#searchbutton i{
  text-align: center;
  color: #380070;
  margin-right: 200px;
  margin-left: 6px;
}
#searchicona{
  margin-right: 300px;
}

#searchbutton i:hover{
  text-align: center;
  color: #e8e404;
  color: white;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
#searchbutton:hover{
  color: red;
  background-color: black;

}
#searchbutton text{
  vertical-align: center;
}
#searchbutton:focus{
  box-shadow: 0 0 0 0;
  outline-width: 0;
  outline: none;

  border-top-width: thin;
}
#searchicon{
  height: 15px;
  margin-left: 15px;
  text-align: center;
  vertical-align: center;

}
.userdetails{
  font-family: 'Source Serif Pro', serif;
text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#followers{
  margin-right: 5px;
}
#following{
  margin-right: 5px;
  margin-left: 10px;
}
/*#searchtext{*/
/*  margin-bottom: 95px;*/
/*  padding: 25px;*/
/*  color: red;*/
/*  height: 0px;*/
/*}*/
